/*Fonts*/

/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
  url('../fonts/karla-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/karla-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/karla-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/karla-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/karla-v6-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}

/* karla-700 - latin */
@font-face {
  font-family: 'Karla-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Karla Bold'), local('Karla-Bold'),
  url('../fonts/karla-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/karla-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/karla-v6-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/karla-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/karla-v6-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}

$karla-r: 'Karla';
$karla-b: 'Karla-Bold';

%transition {
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

$f18: 18px;
$f20: 20px;
$f24: 24px;
$f48: 48px;

%h1 {
  font-family: $karla-b;
  font-size: $f48;
}

%h4 {
  font-family: $karla-b;
  font-size: $f24;
}

%h5 {
  font-family: $karla-b;
  font-size: $f20;
}

.site-h1 {
  @extend %h1;
}

.site-h4 {
  @extend %h4;
}

.site-h5 {
  @extend %h5;
}

.grid-1-5 {
  width: 20%;
  padding: 0 15px;
  float: left;
}

$black: rgb(40, 40, 45);
$opacityBlack: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$blue: #529fff;
$lblue: #54e5ff;
$yellow: #ffe400;
$lred: #ff7272;
$red: #ff0000;
$lightGrayText: #606060;
$gray: #eeeeee;
$mgray: #e1dfdf;
$bgray: #cecece;
$lgray: #f5f5f7;

$lgreen: #32d6a6;
$green: #62c62b;
$purple: #a46dff;
$dpurple: #6d57f1;
$lpink: #ea4882;
$lpinkbg: #f95978;
$pink: #f72f56;

$nav-width: 100%;

/* Common styles */

/* Sliders */
.lSSlideWrapper {
  max-height: 450px;
}

.lSSlideOuter .lSPager.lSGallery li {
  max-height: 100px;
}

.panel-group {
  .panel {
    margin-bottom: 30px;
  }
  .panel-default {
    border: none;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
  }
  .panel-default > .panel-heading {
    color: $black;
    background-color: $white;
    border: none;

  }
  .panel-title {

  }

  .panel-heading {
    padding: 0;
    position: relative;
    a {
      padding: 20px;
      width: 100%;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      .icon_wrapp {
        display: inline-block;
        float: right;
        padding: 8px 10px;
        background: black;
        color: white;
        position: absolute;
        top: 12px;
        right: 15px;
        &:hover {
          background: $bgray;
        }
        svg {
          color: $white;
        }
      }
    }
  }
}

/*---------------- Animation ----------------*/

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.buzz-out:hover {
  -webkit-animation-name: hvr-buzz-out;
  -moz-animation-name: hvr-buzz-out;
  -o-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

}

.fadein-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-up {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@media (min-width: 1200px) {
  .seven-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 14.2857142%;
      *width: 14.2857142%;
    }
    img {
      max-height: 75px;
    }
  }
  .six-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 16.6666667%;
      *width: 16.6666667%;
    }
    img {
      max-height: 75px;
    }
  }
  .five-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 20%;
      *width: 20%;
    }

  }
}

@media (min-width: 992px) {
  .seven-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 14.2857142%;
      *width: 14.2857142%;
    }
    img {
      max-height: 75px;
    }
  }
  .six-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 16.6666667%;
      *width: 16.6666667%;
    }
    img {
      max-height: 75px;
    }
  }
  .five-cols {
    .col-md-1,
    .col-sm-1,
    .col-lg-1 {
      width: 20%;
      *width: 20%;
    }

  }
}

/* 14% = 100% (full-width row) divided by 7 */

%col-grid {
  float: left;
}

.col-1 {
  width: $nav-width/16;
  @extend %col-grid;
}

.col-2 {
  width: $nav-width/16*2;
  @extend %col-grid;
}

.col-3 {
  width: $nav-width/16*3;
  @extend %col-grid;
}

.col-4 {
  width: $nav-width/16*4;
  @extend %col-grid;
}

.col-5 {
  width: $nav-width/16*5;
  @extend %col-grid;
}

.col-6 {
  width: $nav-width/16*6;
  @extend %col-grid;
}

.col-7 {
  width: $nav-width/16*7;
  @extend %col-grid;
}

.col-8 {
  width: $nav-width/16*8;
  @extend %col-grid;
}

.col-9 {
  width: $nav-width/16*9;
  @extend %col-grid;
}

.col-10 {
  width: $nav-width/16*10;
  @extend %col-grid;
}

.col-11 {
  width: $nav-width/16*11;
  @extend %col-grid;
}

.col-12 {
  width: $nav-width/16*12;
  @extend %col-grid;
}

.col-13 {
  width: $nav-width/16*13;
  @extend %col-grid;
}

.col-14 {
  width: $nav-width/16*14;
  @extend %col-grid;
}

.col-15 {
  width: $nav-width/16*15;
  @extend %col-grid;
}

.col-16 {
  width: $nav-width;
  @extend %col-grid;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

* {
  margin: 0;
  outline: none;
  padding: 0;
}

input {
  outline: none;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.form-control:focus {
  border-color: $pink;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 1px $pink, 0 0 2px $pink;
  box-shadow: inset 0 0px 1px $pink, 0 0 2px $pink;
}

.breadcrumbs {
  .breadcrumb {
    background-color: transparent;
    font-size: 16px;
    color: $black;
    font-weight: bold;
    outline: none;
    padding: 5px 2px;
  }
  .breadcrumb-separator {
    margin: 0 2px;
  }
  .breadcrumb:hover, .breadcrumb:focus {
    //background-color: transparent;
    color: $pink;
    outline: none;
    text-decoration: none;
  }
}

/* Inputs */

.radio-buttons {
  span.description {
    padding: 0px 10px 10px 20px;
    float: left;
  }
  input[type=radio] {
    display: none;
  }

  .active-label {
    color: $pink;
    &:before {
      border-color: $pink;
    }
  }

  label {
    line-height: 1.2;
    cursor: pointer;
    display: block;
    padding: 10px 10px 0 20px;
    position: relative;
    //whitespace: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease;

    &:focus,
    &:hover,
    &:active {
      @extend .active-label;
    }

    &:first-of-type {
      border: 0;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid $pink;
    }
  }

  input:checked + label {
    @extend .active-label;

    &:before {
      border-color: white;
      border: none;
      background: $pink;
    }
  }

  input:disabled + label {
    background: #efefef;
    color: rgba($black, .5);
    cursor: not-allowed;

    &:hover {
      border-color: rgba($black, .1);
    }

    &:before {
      border-color: $white;
      background: $white;
    }
  }
}

textarea {
  resize: none;
}

form {
  width: 100%;
  margin: 0;
  padding-bottom: 15px;

  input[type="password"], input[type="text"], input[type="email"],
  textarea {
    background: none;
    color: $black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $black;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -5px;
      font-size: 12px;
      color: $pink;
    }
    &:focus ~ .bar:before {
      width: 100%;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label.styled {
    color: $black;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $pink;
      transition: 300ms ease all;
      left: 0;
    }
  }
}

.revision-form {
  border-bottom: 1px solid $white;
}

.group {
  position: relative;
  margin: 10px 0;
  .nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px $black;
    box-sizing: border-box;
  }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: $pink;
  }
  .nice-select:after {
    border: none;
    font-family: "flaticon";
    content: "\f11a";
    display: block;
    //height: 5px;
    margin-top: -4px;
    //pointer-events: none;
    position: absolute;
    right: -5px;
    top: 50%;
    //transform-origin: 66% 66%;
    transform: rotate(90deg);
    transition: all 0.15s ease-in-out;
    //width: 5px;
  }
  .nice-select.open:after {
    transform: rotate(-90deg);
    color: $pink;
    right: 30px;
  }

}

/* checkbox */

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-left: 0 !important;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid $pink;
  transition: all 0.2s ease;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: $white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: $pink;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 3px;
}

.cbx:hover span:first-child {
  border-color: $pink;
}

.inp-cbx:checked + .cbx span:first-child {
  background: $pink;
  border-color: $pink;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.rating {
  display: inline-block;
  label {
    margin: 0;
  }
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 20px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  color: #ddd;
}

.rating-title {
  display: inline-block;
  position: relative;
  bottom: 13px;
  padding: 10px;
  a {
    color: $black;
  }
}

.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating > input:checked ~ label, .rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label, .rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: $pink !important;
}

.rating > input:checked ~ label {
  color: $pink;

}

.my-products-rating > input:checked ~ label, .my-products-rating:not(:checked) > label:hover,
.my-products-rating:not(:checked) > label:hover ~ label, .my-products-rating > input:checked + label:hover,
.my-products-rating > input:checked + label:hover ~ label,
.my-products-rating > input:checked ~ label:hover,
.my-products-rating > input:checked ~ label:hover,
.my-products-rating > input:checked ~ label:hover ~ label,
.my-products-rating > label:hover ~ input:checked ~ label,
.my-products-rating:not(:checked) > label:hover,
.my-products-rating:not(:checked) > label:hover ~ label {
  color: $yellow !important;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: $pink;

}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.quantity {
  .input-group {
    background: $lgray;
    padding: 3px;
  }
  .minus {
    background: #ffffff;
    color: #cdcdcd;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .input-number {
    background: $lgray;
    text-align: center;
    border: none;
    outline: none;
    color: #000000;
    font-weight: bold;
    box-shadow: none;
    &:focus, &:active {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  .plus {
    background: #ffffff;
    color: #cdcdcd;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .minus:hover {
    color: #FF5A00;
    outline: none;
    border: 1px solid #FF5A00;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    -moz-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
  }
  .plus:hover {
    color: #FF5A00;
    outline: none;
    border: 1px solid #FF5A00;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    -moz-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
  }
  button.btn.btn-default.btn-number {
    background: $black;
    color: $white;
    border-radius: 3px;
  }
  .btn[disabled] {
    background: $bgray !important;
  }
}

#login__modal {
  .modal-dialog {
    width: 420px;
  }
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.no-border {
  border: none !important;
}

.fl-left {
  text-align: left;
  float: left;
  display: inherit;
}

.fl-right {
  text-align: right;
  display: inherit;
}

.no-float {
  float: none;
  margin: 0 auto;
}

.inline-element {
  display: inline-block;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-innercase {
  text-transform: inherit;
}

.margin-b {
  margin-bottom: 50px;
}

.l-margin {
  margin-left: 15px;
}

.small-b-margin {
  margin-bottom: 10px;
}

.small-v-margin {
  margin: 15px 0;
}

.no-padding {
  padding: 0 !important;
}

.t-padding {
  padding-top: 30px;
}

.h-padding {
  padding: 0 20px;
}

.b-padding {
  padding-bottom: 30px;
}

.no-margin {
  margin: 0 !important;
}

.v-margin {
  margin: 30px 0;
}

.b-margin {
  margin-bottom: 30px;
}

.t-margin {
  margin-top: 30px;
}

.v-padding {
  padding: 20px 0;
}

.gray-bg {
  background: $gray;
}

.lgray-bg {
  background: $lgray;
}

.white-bg {
  background: $white;
}

.white {
  color: $white;
}

.gray {
  color: $lightGrayText;
}

.lpink-bg {
  background: $lpinkbg;
}

.pink-bg {
  background: $pink;
}

.small-text {
  font-size: 14px;
}

.big-text {
  font-size: 18px;
}

.black {
  color: $black;
}

.highlighted {
  color: $pink;
}

.description {
  font-size: 12px;
  color: $black;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0 !important;
}

.cart-header-text {
  font-size: 20px;

}

.counter-text {
  font-size: 18px;
  margin-top: 1px;
  margin-left: 40px;
}

.btn-header {
  padding: 7px 20px;
  color: $black;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $white;
  &:hover {
    background: $pink;
    color: $white;
  }
}

button {
  padding: 7px 20px;
  color: $black;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $white;
  &:hover {
    background: $pink;
    color: $white;
  }
}

a.js-share-twitter-link {
  padding: 12px 15px;
  background: #00aced;
  color: $white;
  border-radius: 5px;
  text-align: center;
  display: block;
  svg {
    margin: 0 5px;
  }
  &:hover {
    background: #00bbef;
    text-decoration: none;
  }
}

a.js-share-facebook-link {
  padding: 12px 15px;
  background: #3b5998;
  color: $white;
  border-radius: 5px;
  text-align: center;
  display: block;
  svg {
    margin: 0 5px;
  }
  &:hover {
    background: #3c81c1;
    text-decoration: none;
  }
}

a.share-email-link {
  padding: 12px 15px;
  background: $black;
  color: $white;
  border-radius: 5px;
  text-align: center;
  display: block;
  svg {
    margin: 0 5px;
  }
  &:hover {
    background: rgba(40, 40, 45, 0.75);
    text-decoration: none;
  }
}

.content-button {
  padding: 7px 40px;
  color: $white;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $pink;
  &:hover {
    background: $white;
    color: $black;
  }
}

.add-button {
  padding: 7px 20px;
  color: #fff;
  border: 1px solid #f72f56;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f72f56;
  &:hover {
    background: $white;
    color: $black;
  }
  span {
    margin: 5px 5px 0 10px;
    position: relative;
    bottom: 3px;
  }
}

.modal-button {
  padding: 7px 40px;
  color: $white;
  width: 100%;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $pink;
  &:hover {
    background: $white;
    color: $black;
  }
}

button.close {
  color: $black;
  &:hover {
    color: $pink;
    background: none;
  }
}

.fb-button {
  padding: 7px 25px;
  color: $blue;
  border: 1px solid $blue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $white;
  &:hover {
    background: $blue;
    color: $white;
  }
  i:before {
    margin-left: 0;
    margin-right: 10px;
    font-size: 16px;
  }
}

.google-button {
  padding: 7px 35px;
  color: $pink;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $white;
  &:hover {
    background: $pink;
    color: $white;
  }
  i:before {
    margin-left: 0;
    margin-right: 10px;
    font-size: 16px;
  }
}

.product__button {
  padding: 7px 30px;
  color: $white;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $pink;
  &:hover {
    background: $white;
    color: $black;
  }
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0;
    font-weight: bold;
  }
}

.contact-product-button {
  margin-top: 15px;
  padding: 7px 20px;
  color: $black;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $white;
  &:hover {
    background: $pink;
    color: $white;
  }
}

.add-to-cart {
  padding: 8px 40px;
  width: 100%;
  color: $white;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: $pink;
  &:hover {
    background: $white;
    color: $black;
  }
}

.item-button {
  padding: 7px 40px;
  margin-top: 15px;
  width: 100%;
  background: $white;
  color: $black;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.filter-button {
  padding: 7px 40px;
  margin-top: 15px;
  width: 100%;
  background: $white;
  color: $black;
  border: 1px solid $pink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  &:hover {
    background: $pink;
    color: $white;
  }
  &:hover:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid $pink 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
  }
}

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 25%;
  margin-left: -25px;
  display: block !IMPORTANT;
  border: 0px solid $black;
  span {
    font-size: 40px;
    color: $black;
    &:hover {
      color: $pink;
    }
  }
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 25%;
  right: -25px;
  display: block !IMPORTANT;
  border: 0px solid $black;
  span {
    font-size: 40px;
    color: $black;
    &:hover {
      color: $pink;
    }
  }
}

.owl-prev i, .owl-next i {
  transform: scale(1, 6);
  color: $pink;
}

body {
  font-family: $karla-r;
  font-size: 14px;
}

.parallax {
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &.parallax-1 {
    /* The image used */
    background-image: url(../img/main-bg-1.jpg);
    max-height: 585px;
  }
  &.parallax-2 {
    /* The image used */
    background-image: url(../img/main-bg-2.jpg);
    max-height: 245px;
  }
  &.parallax-2:before {
    /* The image used */
    background: rgba(0, 0, 0, 0.26);
  }
  &.parallax-3 {
    /* The image used */
    background-image: url(../img/main-bg-3.jpg);
    max-height: 245px;
  }
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.registered {
  .secondary-header-wrapper {
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid $white;
    .search-wrapper svg {
      position: absolute;
      top: 10px;
      right: 25px;
    }
  }
  .navbar-nav {
    > li {
      > a {
        color: $white;
        font-weight: bold;
        &:hover {
          color: $black;
          background: transparent;
        }
        &:focus {
          color: $black;
          background: transparent;
        }
      }
    }
  }
}

header {
  .primary-header-wrapper {
    padding: 15px 0;
    .logo {
      width: 125px;
      height: 65px;
    }
    .navigation {
      padding-top: 15px;
    }
    .header-menu {
      padding-top: 10px;
    }
    .navbar-nav {
      > li {
        > a {
          color: $black;
          font-weight: bold;
          &:hover {
            color: $pink;
            background: transparent;
          }
          &:focus {
            color: $pink;
            background: transparent;
          }
        }
      }
    }

  }

  .secondary-header-wrapper {
    background: $pink;
    padding: 15px 0;
    .search-wrapper {
      position: relative;
      svg {
        position: absolute;
        top: 10px;
        right: 15px;
      }
    }

  }
}

.main-wrapper__1 {
  .main-caption {
    margin: 180px 0;
    h1 {
      margin: 0;
    }
  }
}

.block-title {
  font-family: $karla-b;
  font-size: 16px;
}

.filter-caption {
  padding: 10px 20px;
  margin: 0;
}

.info-wrapper {
  padding: 35px 70px;
  .block-title {
    font-family: $karla-b;
    font-size: 16px;
  }

  img {
    width: 45px;
  }
  span:before {
    font-size: 32px;
  }
}

.secondary-caption {
  margin: 55px 0;
}

.item {
  .blog-image-preview {
    position: relative;
    .blog-category-title {
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      top: 15px;
      left: 15px;
      padding: 7px 45px;
    }
  }
}

.item-caption {
  padding: 20px 0;
  p {
    margin: 0;
  }
}

.big-slider-caption {
  margin: 50px 0;
}

a.main-filter-link {
  color: $black;
  padding: 5px 10px;
  display: block;
  border-radius: 3px;
  &:hover {
    text-decoration: none;
    background: $white;
  }
}

.main-filter-item {
  padding: 15px;
}

.logo-ws {
  width: 65px;
}

.footer-wrapper {

  input.form-control.footer-form {
    float: left;
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button.footer-button {
    float: left;
    padding: 6px 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: $white;
    background: $pink;
    &:hover {
      color: $black;
      background: $white;
    }
  }
  a {
    color: $black;
    &:hover {
      text-decoration: none;
      color: $pink;
    }
  }
  svg {
    margin-right: 5px;
  }
}

.post-footer-wrapper {
  span {
    color: $mgray;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .flaticon-facebook-logo:hover {
    color: $blue;
  }
  .flaticon-instagram:hover {
    color: $pink;
  }
  .flaticon-pinterest:hover {
    color: $red;
  }
  .flaticon-youtube:hover {
    color: $red;
  }
}

/* Product */

.product-color {
  position: relative;
  .color-input-wrap {
    display: inline-block;
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .blue-circle {
    .checkmark {
      background: $blue;
    }
  }
  .lblue-circle {
    .checkmark {
      background: $lblue;
    }
  }
  .lred-circle {
    .checkmark {
      background: $lred;
    }
  }
  .lpink-circle {
    .checkmark {
      background: $lpink;
    }
  }
  .yellow-circle {
    .checkmark {
      background: $yellow;
    }
  }

  .purple-circle {
    .checkmark {
      background: $purple;
    }
  }
  .dpurple-circle {
    .checkmark {
      background: $dpurple;
    }
  }
  .black-circle {
    .checkmark {
      background: $black;
    }
  }
  .color-input-wrap.white-circle {
    .checkmark {
      background: $white;
    }
    .checkmark:after {
      left: 9px;
      top: 4px;
      width: 7px;
      height: 13px;
      border: solid $black !important;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .green-circle {
    .checkmark {
      background: $green;
    }
  }
  .lgreen-circle {
    .checkmark {
      background: $lgreen;
    }
  }

  .color-input-wrap input {
    position: absolute;
    opacity: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid $lgray;
  }

  .color-input-wrap:hover input ~ .checkmark {

  }

  .color-input-wrap input:checked ~ .checkmark {

  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .color-input-wrap input:checked ~ .checkmark:after {
    display: block;
  }

  .color-input-wrap .checkmark:after {
    left: 9px;
    top: 4px;
    width: 7px;
    height: 13px;
    border: solid $white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.price {
  font-size: 40px;
  color: $black;
  font-family: $karla-b;
  .currency {
    //font-family: "Open Sans";
    font-size: 35px;
  }
}

a.add-to-wishlist {
  color: $black;
  &:hover, &:active {
    color: $pink;
  }
}

svg.fa-heart {
  font-size: 33px;
  width: 30px;
  height: 60px;
}

.product-background-wrapper {
  position: relative;
  .product-inner-wrapper {
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .inner-product-button {
    position: absolute;
    top: 180px;

  }
  .inner-edit-product {
    svg.svg-inline--fa.fa-pencil-alt.fa-w-16 {
      font-size: 25px;
      color: $white;
      position: relative;
      right: 50px;
      &:hover {
        color: $pink;
      }
    }
  }

}

.product-inner-wrapper {
  position: absolute;
  top: 50px;
  left: 50px;
}

.static-page {
  .package-choose {
    color: $black;
    &:hover {
      text-decoration: none;
      -webkit-box-shadow: 0 0 1px 1px $pink;
      -moz-box-shadow: 0 0 1px 1px $pink;
      box-shadow: 0 0 1px 1px $pink;
    }
    .static-block {
      padding: 30px 40px;
      svg {
        font-size: 20px;
        &.fa-check {
          color: $red;
          margin: 0 15px;
        }
        &.fa-times {
          color: $black;
          margin: 0 19px;
        }
      }
    }
  }

}

.range-slider {
  .slider.slider-horizontal {
    margin-top: 40px !important;
    margin-bottom: 30px;
  }
  .slider.slider-horizontal {
    width: 90%;
    height: 20px;
    //margin-top: 30px;
    //margin-left: 5%;
  }
  .slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .slider.slider-horizontal .slider-track {
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    background: #D8D8D8;
  }

  .slider-track {
    position: absolute;
    cursor: pointer;
    border-radius: 0px;
    background-color: #D8D8D8;
  }

  .slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
    height: 100%;
    top: 0;
    bottom: 0;
  }

  .slider-selection {
    position: absolute;
    background: $pink;
    border-radius: 8px;
  }
  .span-inner {
    position: absolute;
    top: -30px;
    left: 20px;
  }
  .slider.slider-horizontal .span.span-max.top {
    display: none !important;
  }
  .slider-handle.round {
    border-radius: 50%;
  }

  .slider-handle {
    position: absolute;
    top: -2px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    box-shadow: 1.576px 1.231px 5.81px 1.19px rgba(0, 0, 0, 0.2);
  }
}

.filter-box {
  margin: 10px 0 10px 0;
  float: left;
  width: 100%;
  *:focus {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  button {
    color: #333;
    border: none;
  }
}

.merchant-slider {
  img {
    padding: 30px 50px 0 50px;
  }
}

.contact-form {
  padding: 30px 50px;
  input {
    margin-bottom: 15px;
  }
  textarea {
    resize: none;
    margin-bottom: 15px;
  }
  button {
    width: 100%;
  }
}

.bottom-sep {
  border-bottom: 2px solid $pink;
  padding: 15px 0;
  p {
    margin: 0;
  }
  a {
    color: $black;
    svg {
      margin-right: 15px;
    }
    &:hover {
      color: $pink;
      text-decoration: none;
    }
  }
}

/*********************** For Registered ***********************/

/* Toggle Styles */

.header-sidebar-part {
  height: 350px;
  width: 100%;
  background: $white;
  padding-bottom: 30px;
  svg.fa-heart {
    font-size: 15px;
    height: 1em;
  }
}

.footer-sidebar-part {
  width: 100%;
  height: 200px;
  background: $gray;
  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin: 0;
    padding: 5px;
  }
  img.logo {
    width: 100px;
    margin: 0 auto;
  }
  li {
    float: left;
    display: inline-block;

    a {
      color: $black;
      padding: 0 3px;
    }
  }
  p {
    color: $black;
  }
  .post-footer-wrapper span {
    color: $black;
  }
}

#wrapper {
  padding-left: 0;
  //margin-bottom: 50px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.6s ease;
  &.toggled {
    padding-left: 200px;
    #sidebar-wrapper {
      width: 0;
      z-index: 10000;
      li a#menu-toggle svg {
        position: relative;
        right: 15px;
      }
      li a svg {
        position: relative;
        right: -160px;
      }
    }
    #page-content-wrapper {
    }
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.5s ease;

  -webkit-box-shadow: 3px 0px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 5px -1px rgba(0, 0, 0, 0.75);
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  right: 15px;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  .toggle-hidden {
    visibility: visible;
    display: inline-block;
  }
  .sidebar-menu-registered {
    margin-left: 10px
  }
  li {
    text-indent: 10px;
    line-height: 40px;
    a {
      display: block;
      text-decoration: none;
      color: $black;
      &:hover {
        text-decoration: none;
        color: $pink;
      }
      &:active {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    a {
      color: $black;
      &:hover {
        background: none;
      }
    }
  }
}

@media(min-width: 768px) {
  #wrapper {
    //padding-left: 250px;
    padding-left: 100px;
    &.toggled {
      padding-left: 0px;
      .footer-sidebar-part .post-footer-wrapper span {
        margin-left: -10px;
      }
      #sidebar-wrapper {
        width: 50px;
      }
      .toggle-hidden {
        visibility: hidden;
        display: none;
      }
      i {
        //float: right;
      }
      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
  }
  #sidebar-wrapper {
    width: 250px;
    background: $gray;
  }
  #page-content-wrapper {
    //padding: 20px;
    position: relative;
  }
}

@media(max-width: 414px) {
  #wrapper {
    //padding-left: 20px;
    &.toggled {
      padding-right: 60px;
      padding-left: 0;
      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
      #sidebar-wrapper {
        width: 140px;
      }
      span {
        visibility: visible;
        position: relative;
        left: 70px;
        bottom: 13px;
      }
      i {
        float: right;
      }
    }
    span {
      visibility: hidden;
    }
    i {
      float: right;
    }
  }
  #sidebar-wrapper {
    width: 50px;
  }
  #page-content-wrapper {
    position: relative;
  }
}

.product-setting-bar {
  position: relative;
  padding: 10px;
  a {
    color: $black;
    &:hover, &:focus {
      color: $pink;
    }
  }
  svg {
    font-size: 20px;
    margin-right: 10px;
    &.fa-trash-alt {
      position: absolute;
      right: 0;
      top: 10px;
    }
    &.fa-pencil-alt {
      position: absolute;
      top: 15px;
      right: 0;
    }
  }
}

.product-add-picture {
  .add-photo {
    a {
      text-decoration: none;
      :hover {
        text-decoration: none;
        color: $pink;
      }
    }
    i {
      color: $white;
      position: relative;
      top: 30%;
      //font-size: 25px;
      &[class^="flaticon-"]:before, &[class*=" flaticon-"]:before, &[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {
        font-size: 60px;
        font-style: normal;
        margin-left: 0;
        margin-top: 80px;
      }
    }
    span {
      color: $white;
      position: absolute;
      right: 15px;
      top: 10px;

      &[class^="flaticon-"]:before, &[class*=" flaticon-"]:before, &[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {
        font-size: 20px;
        font-style: normal;
        margin-left: 0;
        margin-top: 0;
      }
    }

  }
  .outer-div {
    height: 100vh;
    overflow: hidden;
  }
  .inner-div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;

  }
  .inner-div:hover {
    transform: scale(1.1);
  }

  .image-wrapp {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;

  }
  .wrapp {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: $opacityBlack;
    z-index: 1;
  }

  :hover {
    img {
      transition: all .25s ease-out;
      transform: scale(1.1);
    }
    .wrapp {
      display: block;
    }
  }
}

.login-form.gray-bg {
  position: relative;
  a {
    color: $black;
    .flaticon-pencil-edit-button {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 999;
      &:hover {
        color: $pink;
      }
    }
  }

  .cart-total-content {
    border-top: 1px solid $white;
  }
}

.payment-methods.wrapper {
  li {
    display: inline-block;
    a {
      display: block;
      color: #ffbac7;
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: #f72f56;
      }
      span {
        display: block;
        &:before {
          font-size: 50px;
        }
      }
    }
  }
}

ul.filter-menu {
  padding-left: 15px;
  float: left;
  li {
    display: inline-block;
    margin-right: 10px;
    a {
      padding: 10px 30px;
      display: block;
      color: $black;
    }

    &:hover {
      a {

        &:hover {
          text-decoration: none;

          background: $white;

        }
      }
    }
  }
}

a.show-more {
  color: $black;
  &:hover {
    text-decoration: none;
    color: $pink;
  }
  span {
    &:before {
      margin-left: 0;
      transform: rotate(90deg);
      transition: all 0.15s ease-in-out;
    }
  }
}






