    /*
    Flaticon icon font: Flaticon
    Creation date: 17/07/2018 12:10
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-youtube:before { content: "\f100"; }
.flaticon-twitter-logo-silhouette:before { content: "\f101"; }
.flaticon-plus:before { content: "\f102"; }
.flaticon-plus-symbol:before { content: "\f103"; }
.flaticon-pencil-edit-button:before { content: "\f104"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f105"; }
.flaticon-linkedin:before { content: "\f106"; }
.flaticon-pinterest:before { content: "\f107"; }
.flaticon-instagram:before { content: "\f108"; }
.flaticon-information:before { content: "\f109"; }
.flaticon-google-plus:before { content: "\f10a"; }
.flaticon-favorite-heart-button:before { content: "\f10b"; }
.flaticon-facebook-logo:before { content: "\f10c"; }
.flaticon-spark:before { content: "\f10d"; }
.flaticon-mail:before { content: "\f10e"; }
.flaticon-add-to-basket-e-commerce-button:before { content: "\f10f"; }
.flaticon-rubbish-bin:before { content: "\f110"; }
.flaticon-tick:before { content: "\f111"; }
.flaticon-standing-up-man:before { content: "\f112"; }
.flaticon-power-button:before { content: "\f113"; }
.flaticon-men-shaking-hands:before { content: "\f114"; }
.flaticon-paypal-logo-in-rectangular-black-card:before { content: "\f115"; }
.flaticon-credit-card-1:before { content: "\f116"; }
.flaticon-visa-pay-logo:before { content: "\f117"; }
.flaticon-credit-card:before { content: "\f118"; }
.flaticon-close:before { content: "\f119"; }
.flaticon-next:before { content: "\f11a"; }
.flaticon-back:before { content: "\f11b"; }
.flaticon-user:before { content: "\f11c"; }
.flaticon-menu:before { content: "\f11d"; }
.flaticon-shopping-cart:before { content: "\f11e"; }
.flaticon-share-symbol:before { content: "\f11f"; }
.flaticon-shopping-purse-icon:before { content: "\f120"; }
.flaticon-shield:before { content: "\f121"; }
.flaticon-target:before { content: "\f122"; }
.flaticon-package:before { content: "\f123"; }
.flaticon-sport:before { content: "\f124"; }
.flaticon-growth:before { content: "\f125"; }
.flaticon-bar-graph-with-dollar-sign:before { content: "\f126"; }
    
    $font-Flaticon-youtube: "\f100";
    $font-Flaticon-twitter-logo-silhouette: "\f101";
    $font-Flaticon-plus: "\f102";
    $font-Flaticon-plus-symbol: "\f103";
    $font-Flaticon-pencil-edit-button: "\f104";
    $font-Flaticon-facebook-placeholder-for-locate-places-on-maps: "\f105";
    $font-Flaticon-linkedin: "\f106";
    $font-Flaticon-pinterest: "\f107";
    $font-Flaticon-instagram: "\f108";
    $font-Flaticon-information: "\f109";
    $font-Flaticon-google-plus: "\f10a";
    $font-Flaticon-favorite-heart-button: "\f10b";
    $font-Flaticon-facebook-logo: "\f10c";
    $font-Flaticon-spark: "\f10d";
    $font-Flaticon-mail: "\f10e";
    $font-Flaticon-add-to-basket-e-commerce-button: "\f10f";
    $font-Flaticon-rubbish-bin: "\f110";
    $font-Flaticon-tick: "\f111";
    $font-Flaticon-standing-up-man: "\f112";
    $font-Flaticon-power-button: "\f113";
    $font-Flaticon-men-shaking-hands: "\f114";
    $font-Flaticon-paypal-logo-in-rectangular-black-card: "\f115";
    $font-Flaticon-credit-card-1: "\f116";
    $font-Flaticon-visa-pay-logo: "\f117";
    $font-Flaticon-credit-card: "\f118";
    $font-Flaticon-close: "\f119";
    $font-Flaticon-next: "\f11a";
    $font-Flaticon-back: "\f11b";
    $font-Flaticon-user: "\f11c";
    $font-Flaticon-menu: "\f11d";
    $font-Flaticon-shopping-cart: "\f11e";
    $font-Flaticon-share-symbol: "\f11f";
    $font-Flaticon-shopping-purse-icon: "\f120";
    $font-Flaticon-shield: "\f121";
    $font-Flaticon-target: "\f122";
    $font-Flaticon-package: "\f123";
    $font-Flaticon-sport: "\f124";
    $font-Flaticon-growth: "\f125";
    $font-Flaticon-bar-graph-with-dollar-sign: "\f126";