	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/07/2018 12:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-youtube:before { content: "\f100"; }
.flaticon-twitter-logo-silhouette:before { content: "\f101"; }
.flaticon-plus:before { content: "\f102"; }
.flaticon-plus-symbol:before { content: "\f103"; }
.flaticon-pencil-edit-button:before { content: "\f104"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f105"; }
.flaticon-linkedin:before { content: "\f106"; }
.flaticon-pinterest:before { content: "\f107"; }
.flaticon-instagram:before { content: "\f108"; }
.flaticon-information:before { content: "\f109"; }
.flaticon-google-plus:before { content: "\f10a"; }
.flaticon-favorite-heart-button:before { content: "\f10b"; }
.flaticon-facebook-logo:before { content: "\f10c"; }
.flaticon-spark:before { content: "\f10d"; }
.flaticon-mail:before { content: "\f10e"; }
.flaticon-add-to-basket-e-commerce-button:before { content: "\f10f"; }
.flaticon-rubbish-bin:before { content: "\f110"; }
.flaticon-tick:before { content: "\f111"; }
.flaticon-standing-up-man:before { content: "\f112"; }
.flaticon-power-button:before { content: "\f113"; }
.flaticon-men-shaking-hands:before { content: "\f114"; }
.flaticon-paypal-logo-in-rectangular-black-card:before { content: "\f115"; }
.flaticon-credit-card-1:before { content: "\f116"; }
.flaticon-visa-pay-logo:before { content: "\f117"; }
.flaticon-credit-card:before { content: "\f118"; }
.flaticon-close:before { content: "\f119"; }
.flaticon-next:before { content: "\f11a"; }
.flaticon-back:before { content: "\f11b"; }
.flaticon-user:before { content: "\f11c"; }
.flaticon-menu:before { content: "\f11d"; }
.flaticon-shopping-cart:before { content: "\f11e"; }
.flaticon-share-symbol:before { content: "\f11f"; }
.flaticon-shopping-purse-icon:before { content: "\f120"; }
.flaticon-shield:before { content: "\f121"; }
.flaticon-target:before { content: "\f122"; }
.flaticon-package:before { content: "\f123"; }
.flaticon-sport:before { content: "\f124"; }
.flaticon-growth:before { content: "\f125"; }
.flaticon-bar-graph-with-dollar-sign:before { content: "\f126"; }